#include "unicode.h"
#include "keycode_japanese.h"
#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mmv {
};

&msc {
    acceleration-exponent = <1>;
    time-to-max-speed-ms = <400>;
    delay-ms = <0>;
};

/ {
    combos {
        compatible = "zmk,combos";

        bt_clear {
            bindings = <&bt BT_CLR_ALL>;
            key-positions = <57 41>;
            layers = <5>;
        };

        BStoDel {
            bindings = <&kp DELETE>;
            key-positions = <57 60>;
            layers = <0>;
        };
    };

    macros {
        // Lキー専用マクロ：レイヤー8への切り替えとAlt保持を同時に行う

        l_nav: l_nav {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings =
                <&macro_press>,
                <&mo 8 &kp LALT>,
                <&macro_pause_for_release>,
                <&macro_release>,
                <&mo 8 &kp LALT>;

            // Lキーを離したら、Layer 8とLALTを解放
        };

        // Jキー（Ctrl+Tab）用マクロ：Altが干渉しないように一時的に解放する

        tab_next: tab_next {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LALT &kp LC(TAB)>,
                <&macro_press>,
                <&kp LALT>;

            // 再びAltを押し直す
        };

        // Kキー（Ctrl+Shift+Tab）用マクロ

        tab_prev: tab_prev {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_release>,
                <&kp LALT &kp LC(LS(TAB))>,
                <&macro_press>,
                <&kp LALT>;
        };
    };

    // ==========================================
    // カスタム挙動の定義部屋（単打と長押しの分岐）
    // ==========================================

    behaviors {
        ht_l_nav: hold_tap_l_nav {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred"; // タップ（単打）を優先
            tapping-term-ms = <200>; // 200ms長押しでマクロ発動
            bindings = <&l_nav>, <&kp>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Layer 0 default

        default {
            bindings = <
&none  &none       &none        &none             &none         &none                                                &none            &none  &none         &none                &none                  &none
&none  &mt ESC Q   &kp W        &kp E             &kp R         &kp T                                                &kp Y            &kp U  &kp I         &kp O                &kp P                  &none
&none  &kp A       &kp S        &kp D             &kp F         &kp G                &none              &none        &kp H            &kp J  &kp K         &kp L                &lt 7 JP_MINUS         &none
&none  &kp Z       &kp X        &kp C             &kp V         &kp B                &lt 5 PRINTSCREEN  &lt 8 INT5   &kp N            &kp M  &kp JP_COMMA  &kp JP_DOT           &lt 1 JP_SLASH         &none
&none  &lt 2 INT5  &lt 4 JP_AT  &mt LALT JP_ZKHK  &kp LEFT_GUI  &mt LEFT_SHIFT INT4  &mt LCTRL SPACE    &lt 4 ENTER  &lt 3 BACKSPACE  &none  &none         &mt ESCAPE JP_CARET  &mt RIGHT_ALT JP_SEMI  &none
            >;
        };

        // Layer 1 Mouse

        Mouse {
            bindings = <
&trans  &trans                            &trans  &trans         &trans                &trans                                &trans     &trans          &trans          &trans           &trans                 &trans
&trans  &kp C_NEXT                        &none   &kp C_BRI_DEC  &kp C_BRI_AUTO        &kp C_BRIGHTNESS_INC                  &mo 7      &msc SCRL_LEFT  &msc SCRL_UP    &msc SCRL_RIGHT  &mt HOME LC(PAGE_UP)   &trans
&trans  &kp C_PLAY_PAUSE                  &none   &none          &kp C_AL_SELECT_TASK  &none                 &trans  &trans  &mkp MCLK  &mkp LCLK       &mkp RCLK       &mkp MB3         &mt END LC(PAGE_DOWN)  &trans
&trans  &kp C_PREVIOUS                    &none   &kp C_VOL_DN   &kp K_MUTE            &kp C_VOLUME_UP       &trans  &none   &none      &kp PAGE_DOWN   &msc SCRL_DOWN  &kp PAGE_UP      &trans                 &trans
&trans  &mt LEFT_SHIFT C_AL_TASK_MANAGER  &trans  &trans         &trans                &trans                &trans  &none   &mkp MB4   &trans          &trans          &trans           &trans                 &trans
            >;

            label = "mouse";
        };

        // Layer 2 DELKEY

        DELKEY {
            bindings = <
&trans  &trans        &trans  &trans  &trans  &trans                  &trans   &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans  &trans  &trans  &trans                  &trans   &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans  &trans  &trans  &trans  &trans
&trans  &kp JP_UNDER  &trans  &trans  &trans  &trans  &trans  &trans  &trans   &trans  &trans  &trans  &trans  &trans
&trans  &trans        &trans  &trans  &trans  &trans  &trans  &trans  &kp DEL  &trans  &trans  &trans  &trans  &trans
            >;
        };

        // Layer 3 Num_Sym

        Num_Sym {
            bindings = <
&trans  &trans          &trans        &trans       &trans       &trans                           &trans           &trans         &trans  &trans  &trans        &trans
&trans  &kp TILDE       &kp JP_SQT    &kp JP_LBRC  &kp JP_RBRC  &kp JP_SEMI                      &kp TAB          &kp N7         &kp N8  &kp N9  &kp N0        &trans
&trans  &kp JP_EXCL     &kp JP_DQT    &kp JP_LPAR  &kp JP_RPAR  &kp JP_COLON  &trans  &trans     &kp JP_PLUS      &kp N4         &kp N5  &kp N6  &kp JP_MINUS  &trans
&trans  &lt 9 QUESTION  &kp JP_GRAVE  &kp JP_LBKT  &kp JP_RBKT  &kp JP_YEN    &trans  &kp N0     &mt JP_EQUAL N0  &kp N1         &kp N2  &kp N3  &kp JP_SLASH  &trans
&trans  &trans          &trans        &trans       &trans       &trans        &mo 6   &kp LCTRL  &trans           &kp BACKSPACE  &trans  &trans  &kp JP_CARET  &kp JP_PIPE
            >;
        };

        // Layer 4 Func_Txt

        Func_Txt {
            bindings = <
&trans  &trans       &trans  &trans   &trans   &trans                           &trans     &trans     &trans    &trans     &trans        &trans
&trans  &none        &kp F1  &kp F2   &kp F3   &kp F4                           &none      &kp PG_UP  &kp UP    &none      &kp HOME      &trans
&trans  &kp TAB      &kp F5  &kp F6   &kp F7   &kp F8   &trans  &trans          &kp HOME   &kp LEFT   &kp DOWN  &kp RIGHT  &kp JP_UNDER  &trans
&trans  &kp LS(TAB)  &kp F9  &kp F10  &kp F11  &kp F12  &trans  &kp LEFT_ARROW  &kp RIGHT  &kp PG_DN  &kp END   &none      &kp JP_PIPE   &trans
&trans  &trans       &trans  &trans   &trans   &trans   &trans  &trans          &trans     &trans     &trans    &trans     &trans        &trans
            >;
        };

        // Layer 5 BT_ctrl

        BT_ctrl {
            bindings = <
&trans  &trans      &trans        &trans        &trans        &trans                        &trans  &trans  &trans  &trans  &trans  &trans
&trans  &bt BT_NXT  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3                  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &bt BT_PRV  &bt BT_SEL 4  &bt BT_SEL 5  &bt BT_SEL 6  &bt BT_SEL 7  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans      &trans        &bt BT_CLR    &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans      &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };

        // Layer 6 shft_SYM

        shft_SYM {
            bindings = <
&trans  &trans        &trans        &trans       &trans       &trans                           &trans              &trans       &trans        &trans        &trans        &trans
&trans  &kp JP_TILDE  &kp JP_AT     &kp JP_LBRC  &kp JP_RBRC  &kp JP_SEMI                      &kp JP_CARET        &kp JP_AMPS  &kp JP_ASTRK  &kp JP_LPAR   &kp JP_CARET  &trans
&trans  &kp JP_EXCL   &kp JP_SQT    &kp JP_LPAR  &kp JP_RPAR  &kp JP_COLON  &trans  &trans     &kp JP_PLUS         &kp JP_DLLR  &kp JP_PRCNT  &kp JP_CARET  &kp JP_UNDER  &trans
&trans  &kp JP_CARET  &kp JP_GRAVE  &kp JP_LBKT  &kp JP_RBKT  &kp JP_BSLH   &trans  &kp KP_N0  &mt ENTER JP_EQUAL  &kp JP_EXCL  &kp JP_AT     &kp JP_HASH   &kp JP_PRCNT  &trans
&trans  &trans        &trans        &trans       &trans       &trans        &trans  &trans     &kp BACKSPACE       &trans       &trans        &kp JP_TILDE  &kp JP_PIPE   &trans
            >;
        };

        // Layer 7 scrollL

        scrollL {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans       &trans           &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &kp LA(TAB)  &kp LS(LA(TAB))  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp LC(TAB)  &kp LC(LS(TAB))  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans       &trans           &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans       &trans           &trans  &trans  &trans
            >;
        };

        // Layer 8 (nav_layer) nav_layer

        nav_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans     &trans       &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &kp TAB    &kp LS(TAB)  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &tab_next  &tab_prev    &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans     &trans       &trans  &trans  &trans  &trans
            >;
        };

        layer_9 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans    &trans    &trans     &trans             &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans  &kp HOME  &kp UP    &kp PG_UP  &kp LC(PG_UP)      &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp LEFT  &kp DOT   &kp RIGHT  &kp LC(PAGE_DOWN)  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp END   &kp DOWN  &kp PG_DN  &trans             &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans     &trans             &trans
            >;
        };
    };
};
